[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "psych"]
	path = psych
	url = https://github.com/cran/psych
[submodule "psychTools"]
	path = psychTools
	url = https://github.com/cran/psychTools
